#sidebar{
    background: rgb(66, 64, 64);
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 100vh;
    width: 300px;
    
}
.side_title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f4f6;
    margin-bottom: 30px;
}
.sidebar_img{
    display: flex;
    align-items: center;
}

.sidebar_title > div >img{
    width: 75px;
    object-fit: contain;
}
.sidebar_title > div > h1{
    font-size: 18px;
    display: inline;
}

.sidebar_title >i{
    font-size: 18px;
    display: none;
}
.sidebar_menu >h2{
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}
.sidebar_link{
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.active_menu{
    background: rgb(62, 161, 112, 0.3);
    color: #3ea175;
}
.active_menu a{
    color: #3ea175;
}
.sidebar_link >a{
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}
.sidebar_link >i{
    margin-right:10px ;
    font-size: 18px;
}
.sidebar_logout{
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
}
.sidebar_logout >a{
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}
.sidebar_logout >i{
    margin-right: 10px;
    font-size: 18px;
}
.sidebar-responsive{
    display: inline;
    z-index: 9999;
    left: 0;
    position: absolute;
}

@media only screen and(max-width:978px) {
    #sidebar{
        display: none;
    }
    .sidebar_title>i{
        display: inline;
    }
}